* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

/* first navbar */

.first-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: -7px -28px 9px 27px #e6e6e6;
  padding-top: 8px;
  padding-bottom: 8px;
}

.first-navbar-lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-navbar-h1 {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}

#first-navbar-h2 {
  display: inline-block;
  font-size: 12px;
  color: #908c8c;
}

#first-navbar-image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#img-1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#navbar-logo {
  width: 80px;
  margin: 0;
}

/* second navbar */

.second-navbar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.second-navbar li {
  display: inline-block;
  margin-right: 20px;
}

.second-navbar li a {
  text-decoration: none;
  color: rgb(109, 104, 104);
  font-size: 14px;
}

.li-list-link a:hover {
  text-decoration: underline;
  color: #000;
  font-weight: 500;
}

#li-one a {
  text-decoration: underline;
  color: black;
  font-weight: 500;
}

/* first section */

#section-1 {
  margin-top: 100px;
  display: flex;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

#header {
  width: 50%;
  margin-right: 120px;
}

#header h1 {
  font-size: 90px;
  line-height: 70px;
  margin-bottom: 35px;
}

#music-text {
  margin-bottom: 20px;
  font-weight: 900;
}

#lorem-text {
  font-weight: 200;
}

#header  {
  text-decoration: none;
}

#shop-now {
  border: 1px solid #FC961F;
  display: inline-block;
  padding: 16px 50px 16px 50px;
  background-color: #FC961F;
  margin-top: 20px;
  border-radius: 14px;
  font-weight: 900;
  margin-right: 60px;
}

#shop-now a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

#review {
  display: inline-block;
  font-weight: 900;
  border-bottom: 3px solid #000;
}

#review a {
  text-decoration: none;
  color: #000;
}

/* section 2 */

#section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

div .fa-solid, .fa-star {
  margin-right: 0;
  margin-left: 0;
}

.div-1-p {
  font-weight: 900;
  font-size: 45px;
}

#ratings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(247, 247, 247);
  padding: 16px 10px 16px 10px;
  border-radius: 5px;
}

#section-2-div-1 {
  margin: 0 50px 0px 50px;
}

#section-2-div-2 {
  margin: 0 50px 0 0;
}

#section-2-div-3 {
  margin: 0 50px 0 0;
}

#shop-sect {
  color: rgb(217, 131, 145);
  font-weight: 900;
  text-align: center;
  width: 95%;
  margin-top: 60px;
  margin-bottom: 15px;
}

/* section 3 */

#sect-3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#sect-3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sect-3 ul li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

#sect-3 ul li:nth-child(3n) {
  font-weight: 900;
  border-bottom: 2px solid #908c8c;
  margin-bottom: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1px;
}

.card {
  width: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

#fourth-img-1 {
  background: #f2c193;
}

#fourth-img-2 {
  background: #00649d;
}

#fourth-img-3 {
  background: #eeee0a;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}